@tailwind base;

@layer base {
  /* Base styles for the body */
  body {
    font-family: var(--font-roboto);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-neutral-900);
  }

  h1 {
    font-family: var(--font-roboto);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
  }

  h2 {
    font-family: var(--font-roboto);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
  }

  h3 {
    font-family: var(--font-roboto);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }

  h4 {
    font-family: var(--font-roboto);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  h5 {
    font-family: var(--font-roboto);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h6 {
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  /* Code styles */
  code,
  pre {
    font-family: var(--font-roboto-mono);
    background-color: var(--color-neutral-500);
    border-radius: 4px;
  }

  /* Paragraphs */
  p {
    @apply text-base;
    @apply md:text-lg;
  }

  /* Lists */
  ul,
  ol {
    margin: 0 0 1rem;
    padding-left: 1.5rem;
  }

  /* Links */
  a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.2s ease;
  }

  a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
  }

  label {
    font-family: var(--font-roboto-mono);
  }
}
