@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-gradient {
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-secondary)
    );
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* === Color Utilities === */
  /* Text Colors */
  .text-primary {
    color: var(--color-text-primary);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }

  .text-muted {
    color: var(--color-text-muted);
  }

  .text-inverse {
    color: var(--color-text-inverse);
  }

  /* Background Colors */
  .bg-primary {
    background-color: var(--color-background-primary);
  }

  .bg-secondary {
    background-color: var(--color-background-secondary);
  }

  .bg-muted {
    background-color: var(--color-background-muted);
  }

  .bg-accent {
    background-color: var(--color-background-accent);
  }

  .bg-dark {
    background-color: var(--color-background-dark);
  }
}
