@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-gradient {
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-secondary)
    );
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
